<!-- <div class="Desktop2" style="width: 100%; height: 100%; position: relative; background: white">
  <div class="Rectangle1" style="width: 1405px; height: 102px; left: 18px; top: 16px; position: absolute; background: #2A48E6"></div>
  <div class="ToDoApplication" style="left: 488px; top: 16px; position: absolute; color: white; font-size: 78px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">To Do Application</div>
  <div class="Rectangle2" style="width: 1404px; height: 353px; left: 18px; top: 118px; position: absolute; background: white; box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.25)"></div>
  <div class="DueDate" style="left: 858px; top: 147px; position: absolute; color: black; font-size: 39px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Due Date :</div>
  <div class="Title" style="left: 60px; top: 147px; position: absolute; color: black; font-size: 39px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Title :</div>
  <div class="Desc" style="left: 60px; top: 250px; position: absolute; color: black; font-size: 39px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Desc :</div>
  <div class="Rectangle3" style="width: 572px; height: 62px; left: 148px; top: 147px; position: absolute; background: #DCDBDB; border-radius: 11px"></div>
  <div class="EnterTitle" style="left: 190px; top: 158px; position: absolute; color: black; font-size: 37px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Enter Title</div>
  <div class="Rectangle4" style="width: 572px; height: 115px; left: 148px; top: 238px; position: absolute; background: #D9D9D9; border-radius: 11px"></div>
  <img class="1" style="width: 91px; height: 101px; left: 1025px; top: 137px; position: absolute" src="https://via.placeholder.com/91x101" />
  <div class="Rectangle5" style="width: 149px; height: 72px; left: 646px; top: 382px; position: absolute; background: #1342E8; box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25); border-radius: 11px"></div>
  <div class="Add" style="left: 680px; top: 382px; position: absolute; color: white; font-size: 54px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Add</div>
  <div class="Tasks" style="left: 18px; top: 480px; position: absolute; color: black; font-size: 53px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Tasks :</div>
  <div class="Rectangle6" style="width: 1404px; height: 463px; left: 18px; top: 544px; position: absolute; background: white; box-shadow: -3px 8px 4px rgba(0, 0, 0, 0.25)"></div>
  <div class="Rectangle7" style="width: 182px; height: 44px; left: 90px; top: 563px; position: absolute; background: #130EFF; box-shadow: -4px 7px 4px rgba(0, 0, 0, 0.25); border-radius: 3px"></div>
  <div class="Rectangle8" style="width: 303px; height: 44px; left: 601px; top: 563px; position: absolute; background: #130EFF; box-shadow: -4px 7px 4px rgba(0, 0, 0, 0.25); border-radius: 3px"></div>
  <div class="Rectangle9" style="width: 247px; height: 44px; left: 1089px; top: 563px; position: absolute; background: #130EFF; box-shadow: -4px 7px 4px rgba(0, 0, 0, 0.25); border-radius: 3px"></div>
  <div class="AllItems" style="left: 115px; top: 558px; position: absolute; color: white; font-size: 44px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">All Items</div>
  <div class="CompletedItems" style="left: 627px; top: 558px; position: absolute; color: white; font-size: 44px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Completed Items</div>
  <div class="PendingItems" style="left: 1113px; top: 558px; position: absolute; color: white; font-size: 44px; font-family: Markazi Text; font-weight: 400; word-wrap: break-word">Pending Items</div>
</div> -->

<app-home></app-home>